@media(max-width: 630px){
    .header-title-first{
        font-size: 85px;
        text-align: center;
    }
    .header-title-second{
        font-size: 85px;
        text-align: center;
    }
    .header-title-third{
        font-size: 85px;
        text-align: center;
    }

    .reviews-title {
        font-size: 90px;
    }
}

@media(max-width: 470px){
    .header-title-first{
        font-size: 70px;
        text-align: center;
    }
    .header-title-second{
        font-size: 70px;
        text-align: center;
    }
    .header-title-third{
        font-size: 70px;
        text-align: center;
    }
        .navbar-menu{
        display: flex;
        flex-direction: column;
    }
}


@media(max-width: 560px){
    .navbar{
        display: flex;
        flex-direction: column;
    }
    .navbar-logo{
        margin-bottom: 20px;
    }
}

@media(max-width: 1230px){
    .header-images {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .compounds-info-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .compounds-info-image-div{
        display: flex;
        flex-direction: column;
    }
    .compounds-info-image-txt{
        padding-bottom: 40px;
    }
    .compounds-info-image-img{
        margin-bottom: 30px;
    }
    .compounds-info-txt-title{
        text-align: center;
    }
    .header-info-buttun {
        margin-bottom: 30px;
    }
    .compounds-info-txt-button{
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

@media(max-width: 1000px){
    .header-image-div-all {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width: 500px){
    .compounds-main-title{
        font-size: 50px;
        text-align: center;
        margin: 25px 0;
    }

    .reviews-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .reviews-card-image {
        margin-bottom: 15px;
    }

    .reviews-card-right {
        width: 90%;
    }

    .reviews-card-txt {
        text-align: center;
    }

    .reviews-card-txt2 {
        text-align: center;
    }

    .reviews-title {
        font-size: 65px;
    }
}

@media(max-width: 1100px){
    .reviews-cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .reviews-title {
        text-align: center;
    }

    .reviews-txt {
        text-align: center;
    }
}

@media




