@import 'fonts.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font-family: 'ClashDisplay';
}
.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
:root{
    --main-color: rgba(0, 96, 254, 0.8);
    --primary-color: rgba(113, 167, 254, 1);
    --white-color: rgba(255, 255, 255, 1);
    --title-color: rgba(40, 92, 174, 1);
    --navbar-color: rgba(40, 92, 174, 0.6);
}




/* Navbar start */
.navbar{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    padding: 24px  30px;
    margin: 0 15px;
    /* margin: 30px 0 50px 0; */
}
.navbar-logo{
    color: var(--white-color);
    font-size: 22px;
}
.navbar-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-number{
    font-size: 18px;
    color: var(--white-color);
    margin: 0 15px;
}
.navbar-user-icon{
    color: var(--white-color);
    font-size: 30px;
    margin: 0 15px;
}
.navbar-menu-icon{
    color: var(--white-color);
    font-size: 30px;
    margin: 0 15px;
}


/* Navbar end */

/* Header start */
.header{
    background-color: var(--main-color);
    padding-top: 30px;
}
.header-title-first{
    font-size: 120px;
    color: var(--white-color);
    line-height: 80%;
    margin-left: 15px;
    margin: 20px 15px;
}
.header-title-second{
    font-size: 120px;
    color: var(--primary-color);
    line-height: 80%;
    margin-left: 70px;
    margin: 20px 15px;
}
.header-titles3{
    display: flex;
    justify-content: end;
}
.header-titles2{
    display: flex;
    justify-content: center;
}
.header-title-third{
    font-size: 120px;
    color: var(--white-color);
    line-height: 80%;
    margin-left: 140px;
    margin: 20px 15px;
}

.header-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-txt {
    color: var(--white-color);
    max-width: 300px;
    width: 100%;
}

.header-info-txt {
    color: var(--white-color);
    max-width: 200px;
    width: 100%;
    text-align: end;
}

.header-info-buttun {
    padding: 17px 24px;
    color: var(--primary-color);
    border: 2px solid rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 70px;
    font-size: 18px;
    font-family: 'ClashDisplay';
    margin-top: 15px;
}

.header-image-div{
    margin: 0 15px;
}

.header-image-div-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header-info-div {
    margin: 0 15px;
}
/* header end */


/* Compounds start */

.compounds{
    padding: 0 15px;
}

.compounds-info-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.compounds-main-title{
    padding-bottom: 30px;
    margin: 70px 0;
    font-size: 75px;
    border-bottom: 2px solid rgba(40, 92, 174, 0.2);
    color: rgba(40, 92, 174, 1);
}
.compounds-info-image-txt{
    padding-bottom: 170px;
    color: rgba(40, 92, 174, 1);
    font-size: 18px;
}
.compounds-info-txt-title{
    color: rgba(40, 92, 174, 1);
    font-size: 32px;
    margin-bottom: 32px;
}
.compounds-info-txt-txt{
    color: rgba(40, 92, 174, 1);
    font-size: 22px;
    margin-bottom: 8px;
}
.compounds-info-txt-button{
    margin-top: 32px;
    padding: 18px 36px;
    background-color: rgba(0, 96, 254, 1);
    color: var(--white-color);
    font-size: 14px;
    border-radius: 100px;
    border: 1px solid rgba(0, 96, 254, 1);
}
.compounds-info-div{
    padding-bottom: 40px;
    border-bottom: 2px solid rgba(40, 92, 174, 0.2);
}

.main-bunner-image {
    width: 100%;
    margin-bottom: -5px;
}

.reviews {
    background-color:var(--main-color);
}

.reviews-title{
    font-size: 120px;
    line-height: 80%;
    color: var(--white-color);
    margin: 0 15px;
}
.reviews-txt{
    font-size: 18px;
    color: var(--white-color);
    padding: 40px 0;
    margin: 0 15px;
}
.reviews-card{
    max-width: 700px;
    width: 100%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 32px;
    border-radius: 25px;
    /* filter: blur(5px);
    z-index: 1000; */
}
.reviews-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 ;
    margin: 0 15px;
}
.reviews-card-right{
    width: 70%;
}
.reviews-card-left{
    margin-right: 20px;
}
.reviews-card-txt{
    color: var(--white-color);
    font-size: 16px;
}
.reviews-card-txt2{
    color: var(--white-color);
    font-size: 16px;
}

